<section id="o-nas" class="container border-box mt-space">
  <div class="section-header">
    <h2>KIM JESTEŚMY?</h2>
  </div>
  <div class="content-padding">
    <p>
      Działamy w branży od ponad 10 lat, dostarczając kompleksowe rozwiązania techniczne dla
      najbardziej wymagających klientów. Jako profesjonaliści z pasją, zajmujemy się dźwiękiem,
      światłem i multimediami, dbając o każdy detal Twojego wydarzenia. Niezależnie od skali
      projektu, zapewniamy niezawodny sprzęt i ekspercką wiedzę, która gwarantuje sukces każdej
      realizacji.
    </p>
  </div>
</section>
