<section id="kontakt" class="container border-box mt-space">
  <div class="section-header border-bottom">
    <h2>KONTAKT</h2>
  </div>
  <div class="content-padding contact-grid">
    <div class="contact-details">
      <p>
        <strong>Telefon:</strong>
        <a href="tel:+48722880680" title="Zadzwoń do nas">+48 722 880 680</a>
      </p>
      <p>
        <strong>Email:</strong>
        <a href="mailto:chlopakioddzwieku@gmail.com" title="Wyślij do nas maila">
          chlopakioddzwieku@gmail.com
        </a>
      </p>
    </div>
    <div class="contact-intro">
      <h3>Zróbmy razem coś głośnego!</h3>
      <p>Skontaktuj się z nami i zapytaj o wolny termin.</p>
    </div>
  </div>
</section>
